/*/Users/Floyd/Desktop/school/Hangman-Game/assets/css/style.css
*/
.gamePage{
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/af/36/8a/af368a090157ce7b54f3f2352a138215.jpg");
	background-attachment: fixed;
	margin: 0px;
	height: 100%;
}

h1,h2{
	color: #800000;
}
.navbar{
	height: 150px;
	background-color:rgba(203,162,44, ..3);
	/*position: fixed;*/
	left: 0px;
	border: 0px;
	width: 100%
}
.navbarSpacer{
	height: 120px;
	background-color:rgba(203,162,44, ..3);
	border: 0px;
	width: 100%;

}

main{
	width: 35%;
	background-color: rgba(250,235,215,.45);
	margin-left: auto;
	margin-right: auto;

}

aside{
	float: left;
	width: 30%;
	background-color: rgba(250,235,215,.45);
	margin-left: 10px;
	margin-right: auto;
	height: 355px;
	margin-top: 21px;

}

*{
	box-sizing: border-box;
}

.window{
	width: 100%;
	height: 450px;
	margin-left: 20px;
}

.container{
	width: 100%;
}

.indent{
	text-indent: 25px;
}

.wordSpace{
	width: 90%;
	word-wrap: normal;
	margin-left: auto;
	margin-right: auto;
}
body{
	/*background-position: clear: both;;*/
	background-size: 110%;
}


iframe{
	display: none;
}

footer{
	background-color: rgba(203,162,44, .60);
	height: 115px;
}

.yeahMan{
	width: 100%;
	margin: auto;
	padding-top: 60px;
	display: none;


}

#displayed-word{
	width: 100px;
	font-size: 36px;

}
.backgroundTop{
	width: 110%;
	/*position: fixed;*/
	top: 5px;

}

.topEdge{
	/*position: fixed;*/
	top: 0px;
	left: 0px;
	background-color: #E8BC68;
	width: 100%;
	height: 153px;
}
/*this is turned off */
.spacer{
	visibility: hidden;
	margin-left: 2px;
	margin-right: 2px;
	/*display: none;*/
}
/*this is turned off */
.letter{
	margin-left: 2px;
	margin-right: 2px;
	/*display: none;*/
}

.middleImage{
	width: 100%;
}
